<div id="<%= dom_id contract %>">
  <p>
    <strong>Contract code:</strong>
    <%= contract.contract_code %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= contract.room_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= contract.customer_id %>
  </p>

  <p>
    <strong>Deposit:</strong>
    <%= contract.deposit %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= contract.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= contract.end_date %>
  </p>

</div>
